<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis</output-path>
    <root id="root">
      <element id="dir-copy" path="$PROJECT_DIR$/../../apache-tomcat-10.1.19/webapps" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-004-web" />
        </element>
      </element>
    </root>
  </artifact>
</component>